<p><%= comment.comment %></p>
<p>published by <%= comment.user.email %></p>
<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
<%= link_to "Delete reply", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"} %>
<hr>