<%= simple_form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
        <%= f.input :comment, class:"form-control" %>
    </div>
    <%= f.submit "Submit", class:"btn btn-default" %>
    
<% end %>
