<div class="row edit-post">
    <h1>Edit Post</h1> 
    <div class="col-md-8 col-md-offset-2">
        <%= render 'form' %>
        <div class="cancel-edit">
            <%= link_to "Cancel", post_path, class:"btn btn-default" %>
        </div>
    </div>
</div>