<div class="row banner">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Fakultety SGGW</h1>
        <%= link_to "Logowanie", new_user_session_path %>
        <%= link_to "Rejestracja", new_user_registration_path %>
    </div>
</div>
